@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

body {
    background: #080808;
    background-image: url(../images/starry_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 10px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.contact-form-container {
    margin-top: 50px;
  }
  
.contact-form {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    font-weight: bold;
}

.contact-form textarea {
    resize: vertical;
}

.success {
    color: #0ff40f;
}

.error {
    color: #960303;
}